html, body {
	margin: 0;
	padding: 0;
	
}

body {
	background-color: #2b2b2b;
	font-family: 'monoton' , cursive;
	
}


.capa span{
	color: #058C42;
	display: block;
}



.navigation ul{
	margin-top: 0;
	list-style: none;
	padding: 0;
	text-align: center;
	height: 70px;
	font-family: 'Skranji' , cursive;
}


.navigation li {
	display: inline-block;
	padding-left: 60px;
	padding-right: 60px;
	line-height: 70px;
	font-size: 20px;
}


.navigation {
	background-color: #262626;
	color: #058C42;
	height: 70px;

	animation-name: profile-navigation;
	animation-duration: 3s;


}

.navigation li.threeline-icon {
	display: none;

}

.navigation a {
	text-decoration: none;
	color: #058C42;
}

.navigation a:hover {
	color: #e6e6e6;
}


.capa {
	color: #e6e6e6;
}


.capa div {
	display: inline-block;
	height: 650px;
}

.profile-pic {
	vertical-align: top;
	width: 40%;
	text-align: center;
}

.profile-pic img{
	width: 400px;
	border-radius: 400px;
	margin-top: 100px;

	animation-name: profile-capa;
	animation-duration: 3s;

}


.profile-title {
	width: 59%;

	animation-name: profile-ttl;
	animation-duration: 3s;


}

.profile-title h1 {
	font-size: 60px;
	margin-top: 200px;
	text-transform: uppercase;
	line-height: 70px;
}


.profile-title h2 {
	font-size: 19px;
	margin-top: -30px

}


.main {
	font-family: "Skranji" , cursive;
	margin: 80px 180px 80px 100px;
	height: 20px;

	animation-name: profile-conteudo;
	animation-duration:2s;

}


.cv-pic {
	width: 230px;
	border-radius: 230px;
	margin-top: 30px;
	float: left;
	margin-right: 40px;
	margin-bottom: 70px
}


.main h1 {
	color: #e6e6e6;
	font-weight: normal;

}

.main h2 {
	color: #e6e6e6;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 30px;
}

.main h3 {
	color: #058C42;
	font-size: 16px;
	text-transform: uppercase;

}

.main p {
	color:#e6e6e6;
	font-size: 17px;
	font-weight: 100px;
	line-height: 30px;
	text-align: justify;

}

.caminho {
	list-style: none;
	padding-left: 0;
	color: #e6e6e6; 
}

.caminho a{
	color: #058C42;
}

.caminho li {
	display: inline-block;
	
}

.social-img {
	width: 40px;
	margin-right: 10px;
	margin-bottom: 30px;
}


.litle-pic {
	width: 320px;
	height: 320px;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;

}

.litle-pic a {
	text-decoration: none;
}


.shadowbox {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
	transition: 1s;
}

.shadowbox:hover {
	opacity: 0.7;
	transition: 1s;
}


.shadowtext {
	text-align: center;
	padding-bottom: 70px;
}


.shadowtext h1 {
	font-size: 20px;
	text-transform: uppercase;
	color:  #058C42;
	margin-top:  0;
	padding-top: 100px;

}

.shadowtext h2 {
	text-transform: none;
	font-weight: 100;
	margin-top: 0;
}

.work-pic {
	width: 100%;
	margin-bottom: 20px;
	margin-top: 20px;
}

.back-link {
	color: #e6e6e6;
	padding-bottom: 80px;
	
}


@keyframes profile-capa {
	0% {opacity: 0;}
	100% { pacity: 1;}
}

@keyframes profile-ttl {
	0% {transform: translate(0px,50px); opacity: 0;}
	100% {transform: translate(0px,0px); opacity: 1;}
}

@keyframes profile-navigation {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes profile-conteudo {
	0% {transform: translate(0px,-20px); opacity: 0;}
	100% {transform: translate(0px,0px); opacity: 1;}
}


@media (max-width: 1000px) {


.navigation li {
	display: none;

}

.navigation ul {
	text-align: right;
}

.navigation li.threeline-icon {
	display: inline-block;

}

.profile-pic {
	width: 100%;

}

.profile-pic img {
	margin-top: 10px;
	max-width: 70%;
}


.profile-title {
	width: 100%;
	text-align: center;


}

.profile-title h1{
	margin-top: 10px;
	font-size: 35px;
	margin-left: 20px;
	margin-right: 20px;


}

.profile-title h2{
	margin-top: 10px;
	font-size: 18px;
	margin-left: 20px;
	margin-right: 20px;

}

.main {
	font-family: "Skranji" , cursive;
	margin: 10px 5% 40px 5%;
	height: 20px;

}

.main p {
	text-align: left;
	line-height: 30px;
}

.capa div {
	display: block;
	height: auto;
}

.caminho li {
	font-size: 15px;
}


.cv-pic {
	width: 300px;
	border-radius: 300px;
	margin-top: 30px;
	float: none;
	margin-bottom: 70px;
	max-width: 100%;
}

.litle-pic {
	max-width: 100%;
	background-size: auto 100%;

}

.menujs {
	background-color: yellow;
	height: 400px;

}

.menujs ul {
	height: 400px;
	
}	

.menujs li{
	display: block;
}


}